<div class="banner_small mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1505775561242-727b7fba20f0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
  <div class="container">
    <h1> Create a new bookmark in the list : <%= @list.name %></h1>
    <p>Choose wisely</p>

    <%= link_to 'Back to the lists', lists_path, class:"btn btn-light" %>
  </div>
</div>



<div class="container">

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.association :list %>
    <%= f.button :submit %>
  <% end %>



<p class="mt-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
Illo voluptatem dolor voluptate voluptatum fugit deserunt cumque dolores itaque expedita exercitationem.
Cupiditate facere quisquam vero reiciendis culpa provident explicabo inventore consequatur? </p>


<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
Illo voluptatem dolor voluptate voluptatum fugit deserunt cumque dolores itaque expedita exercitationem.
Cupiditate facere quisquam vero reiciendis culpa provident explicabo inventore consequatur? </p>
</div>
